/*
 The ng-enter-active and ng-move-active
 are where the transition destination properties
 are set so that the animation knows what to
 animate.
*/
.repeated-item.ng-enter.ng-enter-active,
.repeated-item.ng-move.ng-move-active {
  opacity:1;
}

/*
  We're using CSS keyframe animations for when
  the leave event is triggered for the element
  that has the .repeated-item class
*/
.repeated-item.ng-leave {
  -webkit-animation:1s my_animation;
  -moz-animation:1s my_animation;
  -o-animation:1s my_animation;
  animation:1s my_animation;
}

@keyframes my_animation {
  from { opacity:1; }
  to { opacity:0; }
}

/*
  Unfortunately each browser vendor requires
  its own definition of keyframe animation code...
*/
@-webkit-keyframes my_animation {
  from { opacity:1; }
  to { opacity:0; }
}

@-moz-keyframes my_animation {
  from { opacity:1; }
  to { opacity:0; }
}

@-o-keyframes my_animation {
  from { opacity:1; }
  to { opacity:0; }
}



.chart-container {
  position: relative;
}

.chart-tooltip {
  position: absolute;
  padding: 3px;
  border: 1px solid blue;
  background-color: #FFFFFF;
}

path.line, rect.overlay {
  fill: none;
}

rect.overlay {
pointer-events: all;
}

path.area {
  opacity: 0.5;
}

path.area.active {
  opacity: 0.8;
}

path.line.active {
  stroke-width: 5px;
}


.axis line, .axis path, line.tick {
  fill: none;
  opacity: 0.2;
  shape-rendering: crispedges;
  stroke: #808080;
}

g.legend-entry rect {
  cursor: pointer;
  fill: #FFFFFF;
  stroke-width: 4px;
}
