<table class="table table-hover">
  <thead>
    <tr>
      <th>#</th>
      <th ng-repeat="header in data.headers">{{$root.label['aui.overview.split_tests.list.' + header]}}</th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="row in data.rows" ng-class="{'active': $index === selectedIndex}" ng-click="updateSelectedIndex($index); onRowClicked({index: $index})">
      <td>          
        <label>
          <input type="radio" name="stripedTableRadio{{postfix}}" ng-checked="$index === selectedIndex" />
        </label>
      </td>
      <td ng-repeat="value in row[0] track by $index">{{value}}</td>
    </tr>
  </tbody>
</table>