<div class="bar graph-wrapper">

  <main-menu ng-controller="MainMenuController" menu-items="menuItems"></main-menu>

  <div class="chart">
    <d3-series id="highchart-line-rb" data="seriesChartData" chart-title="{{label['aui.recommendation_blocks.chart.title']}}"></d3-series>
  </div>

</div>

<div class="wrapper space-graph">

  <div striped-table on-row-clicked="updateSeriesChartData(index)" data="tableData" selected-index="selectedIndex" postfix="Data1"></div>

</div>

<div class="bar bottom">
  <span class="plaintext right">
  <ng-pluralize count="tableData.rows.length"
     when="label['aui.overview.list.section']">
  </ng-pluralize>
 </span>
  <div class="actions-group">
    <a href="report" class="btn primary">{{label['aui.overview.footer.full_pdf_report']}}</a>
  </div>
</div>
