<div class="wrapper">

  <main-menu ng-controller="MainMenuController" menu-items="menuItems"></main-menu>

  <div ng-controller="SomeController">
    <my-tabs>
      <my-pane title="Hello">
        <h4>Hello</h4>
        <p>Lorem ipsum dolor sit amet</p>
      </my-pane>
      <my-pane title="World">
        <h4>World</h4>
        <em>Mauris elementum elementum enim at suscipit.</em>
        <p><a href ng-click="i = i + 1">counter: {{i || 0}}</a></p>
      </my-pane>
    </my-tabs>
  </div>

  <div ng-controller="CustomerController">
    <div my-customer ng-repeat="prop in {foo: 1, bar: 2}"></div>
  </div>  


  <div class="panel panel-info" ng-repeat="(sectionName, sectionData) in data">
    <div class="panel-heading">
      <h3 class="panel-title">{{label['statsApp.overview.' + sectionName]}}</h3>
    </div>
    <div class="panel-body">
      <dl class="dl-horizontal">
        <dt ng-repeat-start="(statsName, statsData) in sectionData">{{label['statsApp.overview.' + sectionName + '.' + statsName]}}</dt>
        <dd ng-repeat-end>{{statsData | number}}</dd>
      </dl>
    </div>
  </div>

  <div class="panel panel-info">
    <div class="panel-heading">
      <h3 class="panel-title">{{label['statsApp.overview.section4']}}</h3>
    </div>
    <div class="panel-body">
      <d3-pie max-slices="7" data="pieChartData" key="key" value="value" chart-title="{{title}}" radius="100" chart-height="285"></d3-pie>
    </div>
  </div>  


  <!-- <div class="content">
    <fieldset id="summary_sec" class="summary">
      <legend>1. {{label['aui.overview.summary.title']}}</legend>
      <a ng-if="true" class="help" tooltip-placement="left" tooltip-append-to-body="true" tooltip-popup-delay="200">Help</a>
      <div class="row">
        <div class="col col1-4">
          <span>{{label['aui.overview.summary.profiled_visitor_count']}}</span>
          <span id="pvc_id" class="big">{{data.summary.profiled_visitor_count | number}}</span>
        </div>
        <div class="col col1-4">
          <span>{{label['aui.overview.summary.bots_and_bounces']}}</span>
          <span id="bab_id" class="big">{{data.summary.bots_and_bounces | number}}</span>
        </div>
        <div class="col col1-4">
          <span>{{label['aui.overview.summary.returning_visitor']}}</span>
          <span id="rv_id" class="big">{{data.summary.returning_visitor | number}}</span>
        </div>
        <div class="col col1-4">
          <span>{{label['aui.overview.summary.avg_page_per_visit']}}</span>
          <span id="appv_id" class="big">{{data.summary.avg_page_per_visit | number}}</span>
        </div>
      </div>
      <div class="row">
        <div class="col col1-4">
          <span>{{label['aui.overview.summary.unique_search_keywords']}}</span>
          <span id="usk_id" class="big">{{data.summary.unique_search_keywords | number}}</span>
        </div>
        <div class="col col1-4">
          <span>{{label['aui.overview.summary.avg_items_bought']}}</span>
          <span id="aib_id" class="big">{{data.summary.avg_items_bought | number}}</span>
        </div>
        <div class="col col1-4">
          <span>{{label['aui.overview.summary.conversion_rate']}}</span>
          <span id="crt_id" class="big">{{data.summary.conversion_rate | percentage:true}}</span>
        </div>
        <div class="col col1-4">
          <span>{{label['aui.overview.summary.click_to_buy']}}</span>
          <span id="ctb_id" class="big">{{data.summary.click_to_buy | number}}</span>
        </div>
      </div>

    </fieldset>

    <div class="inline-graph">
      <d3-series id="highchart-line-1" data="summarySalesChartData" chart-title="{{label['aui.summary.chart.sales.title']}}"></d3-series>
    </div>

    <div class="row">
      <div id="Influenced_sales_sec" class="col col1-2">
        <fieldset>
          <legend>2. {{label['aui.overview.influenced_sales.title']}}</legend>
          <a ng-if="label['aui.overview.summary.influenced_sales.tooltip']" class="help" tooltip-placement="left" tooltip="{{label['aui.overview.summary.influenced_sales.tooltip']}}" tooltip-append-to-body="true" tooltip-popup-delay="200">Help</a>
          <div class="row">
            <div class="col col1-2">{{label['aui.overview.influenced_sales.sales_to_total_buys']}}</div>
            <div id="istb_id" class="col col1-2">{{data.influenced_sales.sales_to_total_buys | number}} {{data.influenced_sales.sales_to_total_buys / data.performance_stats.buys * 100 | percentage}}</div>
          </div>
          <div ng-repeat="(key, value) in data.influenced_sales.sales_to_total_sales" class="row">
            <div class="col col1-2">{{label['aui.overview.influenced_sales.sales_to_total_sales']}} ({{key}})</div>
            <div id="ists_{{key | lowercase}}_id" class="col col1-2">{{value | number}} {{value / data.total_sales_by_currency[key] * 100 | percentage}}</div>
          </div>

        </fieldset>
      </div>

      <div id="Direct_sales_sec" class="col col1-2">
        <fieldset>
          <legend>3. {{label['aui.overview.direct_sales.title']}}</legend>
          <a ng-if="label['aui.overview.summary.direct_sales.tooltip']" class="help" tooltip-placement="left" tooltip="{{label['aui.overview.summary.direct_sales.tooltip']}}" tooltip-append-to-body="true" tooltip-popup-delay="200">Help</a>
          <div class="row">
            <div class="col col1-2">{{label['aui.overview.direct_sales.sales_to_total_buys']}}</div>
            <div id="dstb_id" class="col col1-2">{{data.direct_sales.sales_to_total_buys | number}} {{data.direct_sales.sales_to_total_buys / data.performance_stats.buys * 100 | percentage}}</div>
          </div>
          <div ng-repeat="(key, value) in data.direct_sales.sales_to_total_sales" class="row">
            <div class="col col1-2">{{label['aui.overview.direct_sales.sales_to_total_sales']}} ({{key}})</div>
            <div id="dsts_{{key | lowercase}}_id" class="col col1-2">{{value | number}} {{value / data.total_sales_by_currency[key] * 100 | percentage}}</div>
          </div>

        </fieldset>
      </div>
    </div>

    <fieldset id="tot_sal_sec">
      <legend>4. {{label['aui.overview.total_sales_by_currency.title']}}</legend>
      <a ng-if="label['aui.overview.summary.total_sales_by_currency.tooltip']" class="help" tooltip-placement="left" tooltip="{{label['aui.overview.summary.total_sales_by_currency.tooltip']}}" tooltip-append-to-body="true" tooltip-popup-delay="200">Help</a>
      <div ng-repeat="(key, value) in data.total_sales_by_currency" class="row">
        <div class="col col1-4">{{key}}</div>
        <div id="tsc_{{key | lowercase}}_id" class="col col3-4" style="position: relative; left:-16px;">{{value | number}}</div>
      </div>

    </fieldset>

    <div class="row">
      <div id="perform_sec" class="col col1-2">
        <fieldset>
          <legend>5. {{label['aui.overview.performance_stats.title']}}</legend>
          <a ng-if="label['aui.overview.summary.performance_stats.tooltip']" class="help" tooltip-placement="left" tooltip="{{label['aui.overview.summary.performance_stats.tooltip']}}" tooltip-append-to-body="true" tooltip-popup-delay="200">Help</a>
          <div class="row">
            <div class="col col1-2">{{label['aui.overview.performance_stats.browses']}}</div>
            <div id="ps_browse_id" class="col col1-2">{{data.performance_stats.browses | number}}</div>
          </div>
          <div class="row">
            <div class="col col1-2">{{label['aui.overview.performance_stats.searches']}}</div>
            <div id="ps_search_id" class="col col1-2">{{data.performance_stats.searches | number}}</div>
          </div>
          <div class="row">
            <div class="col col1-2">{{label['aui.overview.performance_stats.buys']}}</div>
            <div id="ps_buy_id" class="col col1-2">{{data.performance_stats.buys | number}}</div>
          </div>
          <div class="row">
            <div class="col col1-2">{{label['aui.overview.performance_stats.profiled_visits']}}</div>
            <div id="ps_profvisit_id" class="col col1-2">{{data.performance_stats.profiled_visits | number}}</div>
          </div>
          <div class="row">
            <div class="col col1-2">{{label['aui.overview.performance_stats.buying_visits']}}</div>
            <div id="ps_buyvis_id" class="col col1-2">{{data.performance_stats.buying_visits | number}}</div>
          </div>
          <div class="row">
            <div class="col col1-2">{{label['aui.overview.performance_stats.suggestion_queries_served']}}</div>
            <div id="ps_sqs_id" class="col col1-2">{{data.performance_stats.suggestion_queries_served | number}}</div>
          </div>
          <div class="row">
            <div class="col col1-2">{{label['aui.overview.performance_stats.suggestions_served']}}</div>
            <div id="ps_ss_id" class="col col1-2">{{data.performance_stats.suggestions_served | number}}</div>
          </div>
          <div class="row">
            <div class="col col1-2">{{label['aui.overview.performance_stats.suggestions_clicked']}}</div>
            <div id="ps_sqc_id" class="col col1-2">{{data.performance_stats.suggestions_clicked | number}}</div>
          </div>
          <div class="row">
            <div class="col col1-2">{{label['aui.overview.performance_stats.suggestion_queries_clicked_to_served']}}</div>
            <div id="ps_sqcts_id" class="col col1-2">{{data.performance_stats.suggestions_clicked / data.performance_stats.suggestions_served * 100 | percentage:true}}</div>
          </div>

        </fieldset>
      </div>

      <div class="col col1-2">
        <div class="inline-graph" style="height: 210px;">
          <d3-series id="highchart-line-2" data="summarySuggestionsChartData" chart-title="{{label['aui.summary.chart.recommendations.title']}}"></d3-series>
        </div>
      </div>
    </div>

  </div> -->

</div>

<div class="bar bottom">
  <span id="sf_bottom_msg" class="plaintext right" ng-controller="SelectedDateRangeController">{{label['aui.overview.footer.period_selected']}}: {{label[period()]}} {{label['aui.overview.footer.ending']}}: {{DateRangeService.end | date:"mediumDate"}}. {{label['aui.overview.footer.stats_info']}}.</span>
  <div class="actions-group">
    <a id="sf_Summary_pdf_btn" href="report" class="btn primary">{{label['aui.overview.footer.full_pdf_report']}}</a>
  </div>
</div>